<h1>About Us</h1>
<div class="row">
    <div class="col-md-4">
        <strong>Leading and Governing Associates, Inc.</strong> is a leadership consulting practice dedicated to strengthening strategic decision making and democratic governance.
    </div>
    <div class="col-md-4">
        We <strong>facilitate collaborative planning and decision making processes</strong> for regional bodies, local communities,
        and non-profit boards; and conduct policy design and strategic navigation retreats for municipal, county, school and non-profit boards and management staff.
    </div>
    <div class="col-md-4">
    </div>
</div>
<div class="row">

</div>
