<div class="row">
    <h1>About Us</h1>
    <p>
        <strong>Leading and Governing Associates, Inc.</strong> is a leadership consulting practice dedicated to strengthening strategic decision making and democratic governance.
    </p>
    <p>
        We <strong>facilitate collaborative planning and decision making processes</strong> for regional bodies, local communities,
        and non-profit boards; and conduct policy design and strategic navigation retreats for municipal, county, school and non-profit boards and management staff.
    </p>
</div>
