<div class="row">&nbsp;</div>
<div class="well well-lg" @*style="background:#637DA1 !important; color:#fff !important"*@>
    <h2 class="text-center">Visions, Values, Conflicts, and Choices: <small>Decision Making in a Democratic Society</small></h2>
    <p class="text-">
        Just as we can use a compass or a map or the Global Position System to show us where we are and where we want to go,
        the public values <strong class="text-success">liberty</strong>, <strong class="text-success">equality</strong>, <strong class="text-success">community</strong>,
        and <strong class="text-success">prosperity</strong> can likewise illuminate our policy positions and guide our public decision making.
        These values represent the republican and democratic aspirations of American Democracy, helping us see more clearly,
        where we are, where we would like to go, and how we might get there.
    </p>
    <p>
        We make public decisions to resolve public conflicts.
        Public conflicts arise when we attach priority to different public values (<em>We want to go different places</em>).
        Public choices arise when we must decide which value or values should be balanced (<em>We choose where to go</em>).
        Policy solutions are the tools or means we use to navigate public conflicts and achieve our aspirations (<em>We decide how to get there</em> )
    </p>
    <h2></h2>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="media well">
            <div class="media-left">
                <img src="~/Content/Images/Phillip.jpg" alt="Image of Phillip Boyle, Ph.D." height="150" class="img-rounded" />
            </div>
            <div class="media-body">
                <h2 class="media-heading">Phillip Boyle, Ph.D.</h2>
                <p>
                    <h4 class="">President</h4>
                    Leading and Governing Associates<br />
                    <a href="mailto:pboyle@leadingandgoverning.com">pboyle@leadingandgoverning.com</a><br />
                    Phone:&nbsp;<a href="tel:+19199787067">+1 (919) 918-7067</a>
                </p>
            </div>
        </div>
        @*<div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Phillip Boyle, Ph.D.</h2>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <img src="~/Content/Images/Phillip.jpg" alt="Image of Phillip Boyle, Ph.D." height="150" class="img-rounded" />
                </div>
                <div class="col-md-6">
                    <h3>President</h3>
                    Leading and Governing Associates<br />
                    <a href="mailto:pboyle@leadingandgoverning.com">pboyle@leadingandgoverning.com</a><br />
                    Phone:&nbsp;<a href="tel:+19199787067">+1 (919) 918-7067</a>
                </div>
            </div>
        </div>*@
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Scottie Seawell, MPA</h2>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <img src="~/Content/Images/Scottie.jpg" alt="Image of Scottie Seawell, MPA" height="150" class="img-rounded" />
                </div>
                <div class="col-md-6">
                    <h3>Vice President</h3>
                    Leading and Governing Associates <br />
                    <a href="mailto:fseawell@leadingandgoverning.com">fseawell@leadingandgoverning.com</a><br />
                    Phone:&nbsp;&nbsp;<a href="tel:+19199187067">+1 (919) 918-7067</a><br />
                    Mobile:&nbsp;<a href="tel:+19192600662">+1 (919) 260-0662</a>
                </div>
            </div>
        </div>
    </div>
</div>