<div class="jumbotron bg-primary">
    <h1 class="text-center">Welcome!</h1>
    <p>
        Leading and Governing Associates is a governance education and leadership consulting practice.
        We specialize in community engagement, strategic decision making and public values thinking.
        We can help you navigate, facilitate, and communicate more effectively within your organization and across your community.
        Since beginning our practice in 2004, Leading and Governing Associates has worked with hundreds of public, non-profit and for-profit organizations.
    </p>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Phillip Boyle, Ph.D.</h2>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <img src="~/Content/Images/Phillip.jpg" alt="Image of Phillip Boyle, Ph.D." height="150" class="img-rounded" />
                </div>
                <div class="col-md-6">
                    <h3>President</h3>
                    Leading and Governing Associates<br />
                    <a href="mailto:pboyle@leadingandgoverning.com">pboyle@leadingandgoverning.com</a><br />
                    Phone:&nbsp;<a href="tel:+19199787067">+1 (919) 918-7067</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Scottie Seawell, MPA</h2>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <img src="~/Content/Images/Scottie.jpg" alt="Image of Scottie Seawell, MPA" height="150" class="img-rounded" />
                </div>
                <div class="col-md-6">
                    <h3>Vice President</h3>
                    Leading and Governing Associates <br />
                    <a href="mailto:fseawell@leadingandgoverning.com">fseawell@leadingandgoverning.com</a><br />
                    Phone:&nbsp;&nbsp;<a href="tel:+19199187067">+1 (919) 918-7067</a><br />
                    Mobile:&nbsp;<a href="tel:+19192600662">+1 (919) 260-0662</a>
                </div>
            </div>
        </div>
    </div>
</div>