
<section>
    <div class="row">
        <h2>Manage Home Page Content</h2>
        <div class="well well-lg">
            <p>
                <span class="glyphicon glyphicon-plus-sign text-success"></span>&nbsp;Add New Tile
            </p>
        </div>
    </div>
    <div class="row">
        <h2>Manage Client Page Content</h2>
        <div class="well well-lg">
            <p>
                <span class="glyphicon glyphicon-plus-sign text-success"></span>&nbsp;Add New Tile
            </p>
        </div>
    </div>
</section>