<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="banner">
                <div class="banner-inner">
                    <h1 class="banner-title">Our Approach</h1>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
                <h4>
                    When working with public purpose boards and organizations, our approach illuminates the visions, values, conflicts and choices ever present when governing in the public square.
                    We help leaders work together to create public solutions with staying power.
                </h4>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
                <h3 class="text-center"><strong>Vision, Values, Conflicts, and Choices </strong><br /><small>Decision Making in a Democratic Society</small></h3>
                <p>
                    Just as we can use a compass or a map or the Global Positioning System to show us where we are and where we want to go,
                    the public values of liberty, equality, community and prosperity can likewise illuminate our policy positions and guide our public decision making.
                    These values represent the republican and democratic aspirations of American Democracy, helping us see more clearly where we are,
                    where we would like to go, and how we might get there.
                </p>
                <p>
                    We make public decisions to resolve public conflicts.
                    Public conflicts arise when we attach priority to different public values (We want to go different places).
                    Public choices arise when we must decide which value or values should have priority, and how all of the values represented should be balanced (We choose where to go).
                    Policy solutions are the tools or means we use to navigate public conflicts and achieve our aspirations (We decide how to get there).
                </p>
            </div>
        </div>
        @*Spacer Image HERE*@<img src="" class="center-block img-responsive" />
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
                <h3 class="text-center"><strong>Five Steps of Public Decision Making</strong></h3>
                <ul class="fa fa-ul">
                    <li class="li-spacer-10 fa fa-li">
                        <strong class="text-uppercase">Identify the conflict:</strong>
                        Which values are represented? Which are not? What tensions and trade-offs do you see among these values?
                    </li>
                    <li class="li-spacer-10">
                        <strong class="text-uppercase">Represent the public:</strong>
                        Whose values are represented more, whose values less? Are any values missing?
                    </li>
                    <li class="li-spacer-10">
                        <strong class="text-uppercase">Map a direction:</strong>
                        Where do you want to go? Which values or values should have priority?
                    </li>
                    <li class="li-spacer-10">
                        <strong class="text-uppercase">Seek integrative solutions:</strong>
                        Look beyond domination (winner takes all) and compromise (no one is fully satisfied). Seek solutions that satisfy all of the values involved to the greatest degree possible.
                    </li>
                    <li class="li-spacer-10 custom-bullet">
                        <strong class="text-uppercase">Chart a course:</strong>
                        Chart a course to implement your solution that best navigates all of the values involved. Remember that when dealing with the pull of multiple values the shortest distance between where you are and where you decide to go may not be a straight line.l
                    </li>
                </ul>
            </div>
            <div class="col-md-4">&nbsp;</div>
        </div>
    </div>
</div>


