<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <h1 class="page-title">Our Clients</h1>
            <div class="col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
                <h4>Leading and Governing Associates works directly and through business, community, and association partners with nonprofit, public and private sector stakeholders.</h4>
                <p><strong>A sample of clients and sectors include:</strong></p>
                @*This will be replaced by the Clients Admin Tool*@
                <ul>
                    <li>
                        Community Parters:
                        <ul>
                            <li>Greater Alamance Chamber of Commerce</li>
                            <li>Greater Raleigh Chamber of Commerce</li>
                            <li>Denver Community Leadership Forum</li>
                            <li>Impact Alamance</li>
                            <li>Kettering Foundation</li>
                            <li>Quality Enhancement for Nonprofit Organizations (QENO)</li>
                            <li>Triangle Community Foundation</li>
                            <li>United Way of Alamance County</li>
                        </ul>
                    </li>
                    <li>
                        Early Childhood Care and Education
                        <ul>
                            <li>Alamance Partnership for Children</li>
                            <li>Anson County Partnership for Children</li>
                            <li>Carteret County Partnership for Children</li>
                            <li>Duplin County Partnership for Children</li>
                            <li>Smart Start of Davie County</li>
                            <li>Smart Start of Davidson County</li>
                            <li>Partnership for Children of Cumberland County</li>
                            <li>Franklin-Granville-Vance Partnership for Children</li>
                            <li>Hertford-Northampton Smart Start Partnership for Children</li>
                            <li>Jones County Partnership for Children</li>
                            <li>Partnership for Children of Lenoir and Greene Counties</li>
                            <li>Montgomery County Partnership for Children</li>
                            <li>Onslow County Partnership for Children</li>
                            <li>Randolph County Partnership for Children</li>
                            <li>Robeson County Partnership for Children</li>
                            <li>Scotland County Partnership for Children</li>
                            <li>Stanly County Partnership for Children</li>
                            <li>Tyrell-Washington Partnership for Children</li>
                            <li>Work Family Resource Center</li>
                            <li>North Carolina Partnership for Children</li>
                        </ul>
                    </li>
                    <li>
                        Faith-based Organizations
                        <ul>
                            <li>First Presbyterian Church – Durham, NC</li>
                            <li>Interfaith Council for Social Service – Chapel Hill, NC</li>
                            <li>Westminster Presbyterian Church – Durham, NC</li>
                            <li>First (Scots) Presbyterian Church – Charleston, SC</li>
                        </ul>
                    </li>
                    <li>
                        Higher Education
                        <ul>
                            <li>North Carolina Central University School of Nursing</li>
                            <li>Quality Enhancement for Nonprofit Organizations, UNC – Wilmington</li>
                            <li>University of Georgia, State Executive Leadership Program</li>
                            <li>University of North Carolina, Local Elected Leaders Academy</li>
                            <li>University of Tennessee, Newly Elected Legislators Program</li>
                        </ul>
                    </li>
                    <li>
                        K-12 Public Education
                        <ul>
                            <li>Colorado Association of School Boards</li>
                            <li>Illinois Association of School Boards</li>
                            <li>National School Boards Association</li>
                            <li>North Carolina School Boards Association</li>
                            <li>Texas Association of School Boards</li>
                            <li>Wisconsin Association of School Boards</li>
                            <li>Adams 50, CO</li>
                            <li>Alamance-Burlington School System, NC</li>
                            <li>Orange County Schools, NC</li>
                            <li>Roaring Fork Schools, CO</li>
                            <li>Wake County Public Schools, NC</li>
                        </ul>
                    </li>

                    <li>
                        Legislative, County and Municipal Associations
                        <ul>
                            <li>Council of State Governments – West</li>
                            <li>Council of State Governments – Midwest</li>
                            <li>International City and County Management Association</li>
                            <li>National Conference of State Legislatures</li>
                            <li>National League of Cities, Leadership Training Institute</li>
                            <li>North Carolina Association of County Commissioners</li>
                        </ul>
                    </li>

                    <li>
                        Municipal and County Government
                        <ul>
                            <li>Cabarrus County Commissioners</li>
                            <li>Town of Carrboro, NC</li>
                            <li>Town of Cary, NC</li>
                            <li>Town of Chapel Hill, NC</li>
                            <li>Orange County Commissioners</li>
                        </ul>
                    </li>
                    <li>
                        Local North Carolina Nonprofits
                        <ul>
                            <li>Alamance Citizens for Education</li>
                            <li>Alamance Eldercare</li>
                            <li>Benevolence Farm</li>
                            <li>Book Harvest</li>
                            <li>Cape Fear Literacy Council</li>
                            <li>Community Home Trust</li>
                            <li>Crossroads Sexual Assault Response and Resource Center</li>
                            <li>OE Enterprises</li>
                            <li>Paws4Ever</li>
                            <li>Young Musicians of Alamance County</li>
                        </ul>
                    </li>
                    <li>
                        Special Multi-Stakeholder Strategic Initiatives
                        <ul>
                            <li>Alamance Network for Inclusive Health Care, NC</li>
                            <li>Blue Ribbon Committee on the Future of Wake County, NC</li>
                            <li>Children’s Executive Oversight Committee, Alamance County, NC</li>
                            <li>Communities in Schools, NC</li>
                            <li>Orange County Schools Community Engagement and Visioning, NC</li>
                            <li>Research Triangle Regional Reality Check, NC</li>
                            <li>Shape NC Implementation Team</li>
                            <li>Smart Start Strategic Planning Tool Kit, NC</li>
                            <li>Special Transit Advisory Commission Regional Transit Vision Plan, NC</li>
                            <li>Triangle J Council of Governments, NC</li>
                            <li>Vision for Public Education in Alamance County, NC</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>