<div class="row text-center">
    <div class="col-md-4">
        <address class="text-muted">
            &copy; @DateTime.Now.Year - Leading and Governing Associates, Inc <br />
            106 Weathervane Drive<br />
            Carrboro, NC 27510<br />
        </address>
    </div>
    <div class="col-md-4">
        <a href="https://www.facebook.com/leadingandgoverning/"><span class="glyphicon glyphicon-thumbs-up text-primary" id="footer-facebook-icon"></span> Like us on Facebook!</a>
    </div>
    <div class="col-md-4">
        <p class="text-muted">
            <span>
                Designed by Halterman Consulting<br />
            </span>
        </p>
    </div>
</div>