@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Encode+Sans+Condensed|Oxygen');

/*
    Font Families:

    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-family: 'Oxygen', sans-serif;
*/

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #618ed1;
}

#header-color-bar {
    background-color: #618ed1;
}

#business-card {

}

#footer-facebook-icon {
    font-size:large;
}
