@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Encode+Sans+Condensed|Oxygen');
@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css');
/* Font Families:
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-family: 'Oxygen', sans-serif;
*/

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #618ed1;
}

#header-color-bar {
    background-color: #618ed1;
}

#footer-facebook-icon {
    font-size: large;
}

.business-card {
    font-family: 'Oxygen', sans-serif;
    width: 450px;
    height: 250px;
    background: transparent url('Images/Backgrounds/light_toast.png') repeat bottom right;
    padding: 15px;
}

    .business-card .business-card-body {
        background: #fff;
        width: auto;
        height: 100%;
        /*border-top: 1px solid #618ed1;*/
        border: 1px solid #618ed1;
    }

    .business-card .logo {
        background: transparent no-repeat center;
        width: 125px;
        height: 145px;
        float: right;
        margin: -130px -140px 0 0;
        /*text-align: center;*/
    }

    .business-card .contact-info {
        font-family: 'Oxygen', sans-serif;
        width: 250px;
        height: 65px;
        margin: 75px 0 0 9px;
        padding: 5px;
    }

.business-card-title {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 29px;
    margin: 8px;
}

.business-card .business-card-title {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 29px;
    margin: 8px;
}

.business-card .business-card-subtitle {
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
    margin: -8px 0 0 9px;
}

.logo {
    max-height:195px;
}

.spacer {
    height: 100px;
}

.custom-bullet li {
    display: block;
}

    .custom-bullet li:before {
        content: "\e080";
        font-family: "Glyphicons Halflings";
        font-size: 9px;
        float: left;
        margin-top: 4px;
        margin-left: -17px;
    }

.li-spacer-10 {
    margin: 10px 0 0 0;
}

.portrait-block img {
    display:block;
    margin-left: auto;
    margin-right: auto;
}