<div class="row">
    <h2 class="text-center">
        We offer a tailored mix of services to our clients.<br />
        <small>Facilitating Stakeholder Engagement in Community Visioning, Planning and Navigation</small>
    </h2>
    <img src="~/Content/Images/LGA_Compase_Collage.jpg" class="img-thumbnail"/>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>
            Leading & Governing Associates offers a tailored mix of services to its clients. These include:
        </h3>
        <ul>
            <li>The Public Purposes of Public Schools: Visions and Values of Public Education in our Democratic Republic</li>
            <li>From Campaigning to Governing: The Art and Science of Public Decision Making</li>
            <li>Practical Ethical Decision Making for Public Life</li>
            <li>Public Choices in State Agencies</li>
            <li>Policy Leadership for Mayors and Council Members! Public Values, Choices, and Decisions</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>
            Policy Navigation and Strategic Facilitation that help boards, councils, and commissions crystallize their purpose,
            frame goals, address governance issues, and engage their publics:
        </h3>
        <ul>
            <li>A Vision for Public Education in Alamance County</li>
            <li>Orange County Schools (NC) Community Engagement and Strategic Planning Initiative</li>
            <li>N.C. Smart Start Board Governance and Strategic Planning Initiatives </li>
            <li>Blue Ribbon Committee on the Future of Wake County</li>
            <li>The Special Transit Advisory Commission’s Regional Transit Vision Plan</li>
            <li>Research Triangle Regional Reality Check’s Regional Visioning Exercise</li>
            <li>Charlotte City Council Policy Leadership Retreat</li>
            <li>N.C. Association of County Commissioners Strategic Goals Initiative</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>
            Governance Education, Training, and Writing that help public officials disseminate knowledge,
            ideas, and capacity throughout their organizations and jurisdictions:
        </h3>
        <ul>
            <li>Preserving the Public in Public Schools: Visions, Values, Conflicts, and Choices, by Phil Boyle and Del Burns, 2012</li>
            <li>Local Officials, Regional Leaders: A Strategic LeaderShop for Navigating Regional Challenges, N.C. Local Elected Leaders Academy</li>
            <li>Ethical Decision Making Training for Local Government Planning and Zoning Officials and Staff, Municipal Association of South Carolina</li>
            <li>“Rebuilding a Public for Public Schools,” Pennsylvania School Boards Association,  PSBA Bulletin, 2005</li>
            <li>“Effective Council Meetings: Using Public Values to Guide Board Decisions,” International City/County Management Association, IQ Report, 2005</li>
            <li>“From Strategic Planning to Visioning: Tools for Navigating the Future,” International City/County Management Association, Public Management, 2001</li>
        </ul>
    </div>
</div>
